.registrationContainer {
    margin-top: 5vh !important;
    margin: auto 6vw;
    width: 86%;
}

.registrationTitle {
    font-size: x-large;
    font-weight: 700;
    display: block;
    margin-bottom: 1.2svh;
    width: 50vw;
    margin-bottom: 3.5vh;
}

.registrationFooter {
    position: absolute;
    margin: auto 6vw;
    width: 86%;
    bottom: 1vh;
}